<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li><h2>Trabajo 1 <h3>(year)</h3></h2></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, exercitationem quos qui est corporis odit dolorem numquam atque non eos nemo assumenda labore dolores quae et eveniet sit suscipit ducimus?</p>
            <li><h2>Trabajo 2 <h3>(year)</h3></h2></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, exercitationem quos qui est corporis odit dolorem numquam atque non eos nemo assumenda labore dolores quae et eveniet sit suscipit ducimus?</p>
            <li><h2>Trabajo 3 <h3>(year)</h3></h2></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, exercitationem quos qui est corporis odit dolorem numquam atque non eos nemo assumenda labore dolores quae et eveniet sit suscipit ducimus?</p>
        </ul>
    </div>
</div>
