<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/img/profile-picture.png" alt="profile-photo" class="img-fluid" id="profile">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{person.name}}</p>
        <p>Web Developer Full Stack Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nisi cupiditate beatae quasi! Nemo non iusto dicta ipsam est maxime culpa cumque, inventore, sed magnam molestiae voluptatum quisquam repellat. Tenetur.</p>
        </span>
    </div>
</div>