<div class="row">
    <h1>Projects I been into</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 text">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi et, ad saepe, hic maiores nihil debitis consectetur consequuntur ipsum temporibus rem modi fugit veniam repellendus nisi minima. Repellendus, ullam?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 image">
            <img src="../../../assets/img/undraw-projections.svg" alt="project-image" class="img-fluid img-project">
        </div>
    </div>
</div>
